<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>
<div class="container ">
  <div class="row">
    <div class="col-12">
      <h3>Learn English words</h3>
    </div>
    <div class="col-12 mt-5">
      <div class="card h-200">
        <div class="card-body pb-3">
          <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Recently Added</a>
              <ng-template ngbNavContent>
                <app-recently-added></app-recently-added>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Go</a>
              <ng-template ngbNavContent>
                <app-go></app-go>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Settings</a>
              <ng-template ngbNavContent>
                <app-settings></app-settings>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
