<div class="container-fluide pt-2">
  <div class="row">
    <div class="col-4">
      <label for="langSelect" class="control-label">Language:</label>
    </div>
    <div class="col-6">
      <select name="" class="custom-select" id="langSelect">
        <option value="1">English</option>
        <option value="1">German</option>
        <option value="1">French</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
        <label for="nbWordsSelect">Number of words:</label>
    </div>
    <div class="col-6">
          <select name="" class="custom-select" id="nbWordsSelect">
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
      </div>
    </div>
  <div class="row mt-4">
    <div class="col-4">
      <label for="TimeSelect">Time:</label>
    </div>
    <div class="col-6">
      <select name="" class="custom-select" id="TimeSelect">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-5">
      <button class="btn btn-primary btn-block">Back</button>
    </div>
    <div class="col-5 offset-2">
      <button class="btn btn-primary btn-block">Save</button>
    </div>
  </div>
  </div>

