
<div class="container-fluide">
  <div class="row">
    <div class="col-12 text-center  mt-3">
     <h4>Education</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-5 mt-2 mb-2" >
      <input type="text" class="form-control" [(ngModel)]="timer">
    </div>
  </div>
  <div class="row" >
    <div class="col-4 mt-2 mb-2" >
      <input type="text" id="ask" class="form-control" *ngIf="currentTaskModel.value" [value]="currentTaskModel.value"  >
    </div>
    <div class="col-4 mt-3 offset-1" >
      <label for="ask" class="control-label" >Finish:&nbsp;<b>{{currentResult.finish}}/{{currentResult.all}}</b>&nbsp;&nbsp;OK:&nbsp;<b>{{currentResult.ok}}</b>&nbsp;&nbsp;FAIL:&nbsp;<b>{{currentResult.fail}}</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [(ngModel)]="answerInput" (keyup.enter)="onNext()" ></textarea>
    </div>
  </div>
  <div class="row" >
    <div class="col-12 mt-3 ">
      <button *ngIf="nextActive;else reload" type="button" class="btn btn-info btn-block " (click)="onNext()" >Next</button>
      <ng-template #reload>
        <button  type="button" class="btn btn-success btn-block " (click)="onReload()" >Reload</button>
      </ng-template>
    </div>
  </div>

</div>

